
body
{
	margin:0px;
}

.mobile-screen5
{
	display:none;
}

@media screen and (max-width:800px) 
{
	
	.mobile-screen5
	{
		display:block;
		background-color:#ECEBDE;
		width:100%;
	}
	
	.my-img
	{
		width:11%;
		margin-top:1%;
	}
	
	.me-jpg
	{
		width:100%;
		height:36px;
		border-radius:50px;
		padding:1%;
	}
	
	.nav-items
	{
		display:flex;
		gap:1%;
		background-color:white;
		height:50px;
		width:100%;
		position:fixed;
		top:0px;
	}
	
	.input2
	{
		width:80%;
		height:25px;
		margin-top:2%;
		padding:1%;
		background-color:#F5F5F0;
		border:none;
	}
	
	.msg
	{
		font-size:25px;
		padding:2%;
	}
	
	.box1
	{
		height:250px;
		width:100%;
		background-color:white;
		margin-top:10%;
	}
	
	.bg3
	{
		background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAb8AAABxCAMAAAByWF0wAAAANlBMVEWgtLe/09bZ5eecsbTY4OHk7O3v9PXa5ujF1Na4ycvC0dOou77R3uDK2NqYrrHW4uWtv8K6yswtJ+7CAAACFElEQVR4nO3dS3LCMBQFURIB+ThAsv/NZgijdzXsW9VnC122LFuWTme9uG65cJyWnu639w2PN46TXqyvD/s1Ox72a7ZuGxeg/bDWn/2qHd4/q62ffAHaj2vnBmo/sF/7dcs3UPuBrU/7VcuvYOxHlmcQ9kOLA6D9yNa3/arFAdB+aIf9uqUB0H5ocQZoP7T4Ed5+bGkAtB9cWERhP7jwAGM/tvQAYz+29A3XfnDhG6796OzXbX6AsR/dvIrXfnDhE5L94MIbNPvRzQ+g9sOzX7cpn/34xgmE/ejm3wDtRze/wbYf3TwBtB/dPAG0H944AbQf3rgExn589qu27FfNft3WtITQfnjjNiL2w7Nft/EFqP3w7NdtfIFtPzz7dRs/QNgPz37d7NfNft3GX8jsh+f1181+3ezXzX7d7NfN92fd7NfN70fd7NfN9RPdXH/WzfWf3exXzn7V/P+om///VfP/227zDq72o3P/iW7u/1LO/Ze6DfXsV8D9B6u5/2c199/t5v7X5dx/vpvnP3Tz/JVqnn9UzfPHunn+XznP3+zm+bfVPH+6mue/d0uPL/aDC48v9mNLw5/92NLwZz+0OPzZjy0Nf/ZDO0I9+6HF2Z/90Oalu/bDi8Of/cjCt1v7sYWlZ/ajy7dP+4Hl2YP9wNLSF/uxjfsu2Q/vCEsn7Ie28fKF1m/p6X7byMfqd9aL65YLxz+9IXoyj1wDNQAAAABJRU5ErkJggg==");
		background-size:cover;
		width:100%;
		height:85px;
	}
	
	.me-img
	{
		width:30%;
		padding:1%;
		height:120px;
		margin-top:3%;
		margin-left:2%;
		border-radius:100px;
	}
	
	.ds-nme
	{
		font-size:25px;
		font-weight:bold;
		margin-left:3%;
		
	}

	.my-name
	{
		display:flex;
		gap:1%;
		margin-top:2%;
	}
	
	.her
	{
		color:grey;
		margin-top:0.7%;
		font-size:17px;
	}
	
	.skill
	{
		font-size:20px;
		margin-left:3%;
		margin-top:0.2%;
	}
	
	.addrs
	{
		display:flex;
		gap:2%;
	}
	
	.adrs
	{
		color:grey;
		margin-left:3%;
		margin-top:0.2%;
	}
	
	.cnt
	{
		color:#4274D9;
		font-weight:bold;
		margin-top:0.2%;
	}
	
	.mgl
	{
		margin-left:3%;
		margin-top:0.8%;
	}
	
	.box2
	{
		height:85px;
		background-color:white;
		margin-top:3%;
	}
	
	.box3
	{
		height:130px;
		background-color:white;
		margin-top:3%;
	}
	
	.abt
	{
		padding:4%;
		font-size:19px;
	}
	
	.smry
	{
		font-size:17px;
		margin-left:2.5%;
		color:#4274D9;
		font-weight:bold;
	}
	
	.mg
	{
		margin-top:4%;
	}
	
	.dip
	{
		margin-left:3%;
		margin-top:-5px;
	}
	
	.box4
	{
		height:120px;
		background-color:white;
		margin-top:3%;
	}
	
	.abt2
	{
		padding:4%;
		font-size:19px;
		color:grey;
		font-style:italic;
	}
	
	.views
	{
		display:flex;
		gap:2%;
	}
	
	.five
	{
		width:50%;
	}
	
	.f5
	{
		font-size:20px;
		color:#4274D9;
		font-weight:bold;
		padding:2%;
		margin-left:5%;
	}
	.f52
	{
		font-size:15px;
		margin-left:6%;
	}
	
	.zero
	{
		width:50%;
	}
	
	.experience
	{
		height:230px;
		margin-top:3%;
		background-color:white;
		text-align:center;
	}
	
	.breif
	{
		width:28%;
		height:75px;
	}
	
	.have
	{
		font-size:17px;
	}
	
	.add
	{
		margin-top:2%;
		color:grey;
	}
	
	.exp-btn
	{
		width:90%;
		border:2px solid #4274D9;
		padding:2%;
		border-radius:20px;
		color:#4274D9;
		font-weight:bold;
		margin-top:5%;
		margin-left:3%;
	}
	
	.experience2
	{
		height:260px;
		margin-top:3%;
		background-color:white;
		text-align:center;
	}
	
	.box5
	{
		height:90px;
		background-color:white;
		margin-top:3%;
		padding:2%;
	}
	
	.contact
	{
		height:260px;
		margin-top:2%;
		background-color:white;
	}
	
	.pencil
	{
		font-size:20px;
		margin-left:75%;
	}
	
	.email
	{
		display:flex;
		gap:2%;
		height:70px;
		background-color:re;
	}
	
	.emal
	{
		margin-top:2%;
		font-size:20px;
	}
	
	.eml
	{
		font-size:25px;
		padding:2%;
		margin-left:2%;
		color:grey;
	}
	
	.eml2
	{
		font-size:17px;
		color:#4274D9;
		margin-top:2%;
	}
	
	.footer
	{
		background-color:white;
		border-top:2px solid black;
		position:fixed;
		width:100%;
		bottom:0px;
	}
	
	.nav-list-mb
	{
		display:flex;
		gap:5%;
		padding:1%;
		background-color:skyblu;
	}
	
	.home1
	{
		margin-left:15%;
		font-size:15px;	
		text-align:center;
	}
	
	.mrg
	{
		margin-left:15%;
	}
	
	.mb-post
	{
		display:flex;
		width:90%;
		margin-left:1%;
		margin-top:5%;
	}
	
	.mb-home
	{
		text-align:center;
		color:black;
		text-decoration:none;
		width:100%;
	}
	
	.a1
	{
		color:grey;
	}
	
	.hm-mb
	{
		font-size:25px;
		margin-left:15%;
	}
}
	