*
{
	box-sizing:border:box;
}

body
{
	background-color:#ECEBDE;
	margin:0px;
}

.nav-scrn-up
{
	
	background-color:white;
	display:none;
}


.nav-up
{
	width:98%;
	height:30px;
	background-color:white;
	padding:1%;
	float:left;
	position:fixed;
}

.search-1
{
	display:flex;
}

.logo
{
	width:2.5%;
	height:100%;
	margin-left:5%;
}

.search
{
	margin-top:px;
	margin-left:1%;
	width:18%;
	border-radius:20px;
	border:1px solid black;
	padding:0.5%;
}

.txt2
{
	font-size:15px;
}

.icons
{
	display:flex;
	gap:8%;
	padding:0.3%;	
	margin-left:35%;
	margin-top:-40px;
	background-color:skyblu;
	width:36%;
	
}

.me
{
	display:flex;
	text-align:center;
	margin-left:35%;
}

.pfp
{
	width:30%;
	height:20px;
	border-radius:20px;
	margin-top:0px;
}

.bsn 
{
	font-size:25px;
	color:grey;
	margin-left:18%;
}

.busn
{
	width:15%;
	background-color:re;
	font-size:15px;
}

.pric
{
	color:#d4b05d;
	font-size:25px;
	margin-left:30%;
}

.prm
{
	width:20%;
	background-color:yello;
	font-size:15px;
}

.bnss
{
	display:flex;
	gap:2%;
}

.prm
{
}

.hm
{
	font-size:20px;
}

.hme
{
	width:5%;
	text-decoration:none;
	color:black;
	text-align:center;
	color:grey;
}
.hme:hover
{
	color:black;
}

.home
{
	text-align:center;
	background-color:re;
	height:50px;
	width:15%;
	border-bottom:2px solid black;
	text-decoration:none;
	color:black;
}
.Ntw
{
	text-align:center;
	background-color:re;
	height:50px;
	width:20%;
	color:grey;
	margin-left:-5%;
	text-decoration:none;
}
.Ntw:hover
{
	color:black;
}

.other-icn
{
	display:flex;
	width:60%;
	margin-top:-120px;
	margin-left:40%;
}

.main
{
	width:96%;
	height:525px;
	background-color:;
	margin-top:3%;
	padding:2%;
	display:flex;
	gap:2%;
}

.section1
{
	width:70%;
	height:550px;
	background-color:white;
	border-radius:15px;
}

.header
{
	padding:2%;
	width:96%;
	height:30px;
	background-color:;
	border-radius:15px;
	display:flex;
	gap:1%;
}

.title
{
	display:flex;
	gap:2%;
	width:50%;
	background-color:;
}

.msg-hd
{
	font-size:20px;   
	font-weight:bold;
}

.input
{
	width:50%;
	background-color:#DFF1F1;
	border:none;
	padding:1.5%;
	margin-left:1%;
	border-radius:5px;
	font-weight:;
}

.menu2
{
	display:flex;
	gap:10%;
	width:50%;
	font-size:25px;
	font-weight:bold;
	background-color:re;
}

.msg-nav
{
	width:98%;
	height:30px;
	background-color:skyblu;
	padding:1%;
	display:flex;
	gap:2%;
}

.div1
{
	width:12%;
	height:18px;
	border-radius:20px;
	text-align:center;
	padding:1%;
	background-color:green;
	color:white;
	font-weight:bold;
}

.nav-list
{
	display:flex;
	gap:2%;
	width:55%;
	background-color:re;
}

.li1
{
	width:17%;
	height:18px;
	border:1.5px solid grey;
	border-radius:20px;
	text-align:center;
	font-weight:bold;
	font-size:17px;
	padding:1.5%;
}

.li2
{
	width:20%;
}

.li3
{
	width:28%;
}

.sms
{
	width:100%;
	height:550px;
	display:flex;
	background-color:skyblu;
}

.sm1
{
	width:35%;
	height:413px;
	border-bottom-left-radius:15px;
	border:1px solid grey;
	margin-top:-9px;
}

.txt1
{
	width:100%;
	height:90px;
	display:flex;
	gap:2%;
}

.txt
{
	width:100%;
}

.txt-hd
{
	display:flex;
	gap:15%;
	margin-top:6%;
	width:100%;
	background-color:yello;
	font-size:17px;
}

.hd2
{
	gap:20%;
	font-size:16px;
}


.im-txt
{
	width:15%;
	height:40px;
	padding:3%;
	margin-top:5%;
}

.txt2
{
	width:100%;
	height:90px;
	display:flex;
	gap:2%;
	border:none;
	
}

.txt6
{
	border-left:5px solid green;
	color:black;
}

.sm2
{
	width:70%;
	height:413px;
	border:1px solid grey;
	border-bottom-right-radius:15px;
	margin-top:-9px;

}

.k-sms
{
	border:none;
	width:44%;
	margin-top:17.5%;
	margin-left:24.5%;
	
}

.sms-nav
{
	width:100%;
	height:30px;
	background-color:skyblue;
}

.section2
{
	width:25%;
	height:450px;
	background-color:yello;
	position:fixed;
	margin-left:71%;
	border-radius:15px;
}



.advt
{
	
	width:100%;
	background-color:gree;

}

.adv-img
{
	width:100%;
	border-radius:15px;
	height:250px;
	margin-top:2%;
	
	
}

.about
{
	margin-top:1%;
	width:100%;
	height:200px;
	
}

.row1
{
	display:flex;
	gap:15%;
	width:90%;
	margin-left:13%;
	height:10px;
	background-color:yello;	
	
}

.rlst
{
	color:grey;
	font-size:13px;
}

.row2
{
	display:flex;
	gap:10%;
	margin-top:3%;
	margin-left:7%;
}

.copyright
{
	display:flex;
	gap:3%;
	margin-top:5%;
	margin-left:12%;
}

.nme
{
	color:blue;
	font-size:17px;
	font-weight:bold;
}

.lnkd
{
	color:blue;
}

.nme2
{
	margin-top:0.5%;
}
