*
{
	box-sizing:border:box;
}

body
{
	background-color:#ECEBDE;
	margin:0px;
}

.nav-scrn-up
{
	
	background-color:white;
	display:none;
}


.nav-up
{
	width:98%;
	height:30px;
	background-color:white;
	padding:1%;
	float:left;
	position:fixed;
}

.search-1
{
	display:flex;
}

.logo
{
	width:2.5%;
	height:100%;
	margin-left:5%;
}

.search
{
	margin-top:px;
	margin-left:1%;
	width:18%;
	border-radius:20px;
	border:1px solid black;
	padding:0.5%;
}

.txt2
{
	font-size:15px;
}

.icons
{
	display:flex;
	gap:8%;
	padding:0.3%;	
	margin-left:35%;
	margin-top:-40px;
	background-color:skyblu;
	width:36%;
	
}

.me
{
	display:flex;
	text-align:center;
	margin-left:35%;
}

.pfp
{
	width:30%;
	height:20px;
	border-radius:20px;
	margin-top:0px;
}

.bsn 
{
	font-size:25px;
	color:grey;
	margin-left:18%;
}

.busn
{
	width:15%;
	background-color:re;
	font-size:15px;
}

.pric
{
	color:#d4b05d;
	font-size:25px;
	margin-left:30%;
}

.prm
{
	width:20%;
	background-color:yello;
	font-size:15px;
}

.bnss
{
	display:flex;
	gap:2%;
}

.prm
{
}

.hm
{
	font-size:20px;
}

.hme
{
	width:5%;
	text-decoration:none;
	color:black;
	text-align:center;
	color:grey;
}
.hme:hover
{
	color:black;
}

.home
{
	text-align:center;
	background-color:re;
	height:50px;
	width:15%;
	border-bottom:2px solid black;
	text-decoration:none;
	color:black;
}
.Ntw
{
	text-align:center;
	background-color:re;
	height:50px;
	width:20%;
	color:grey;
	margin-left:-5%;
	text-decoration:none;
}
.Ntw:hover
{
	color:black;
}

.other-icn
{
	display:flex;
	width:60%;
	margin-top:-55px;
	margin-left:37%;
}

.main
{
	width:96%;
	height:600px;
	background-color:gree;
	margin-top:3%;
	padding:2%;
	display:flex;
	gap:2%;
}

.sidebar1
{
	width:20%;
	height:400px;
	background-color:yello;
	border-radius:15px;
	position:fixed;
}

.bg3
{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAb8AAABxCAMAAAByWF0wAAAANlBMVEWgtLe/09bZ5eecsbTY4OHk7O3v9PXa5ujF1Na4ycvC0dOou77R3uDK2NqYrrHW4uWtv8K6yswtJ+7CAAACFElEQVR4nO3dS3LCMBQFURIB+ThAsv/NZgijdzXsW9VnC122LFuWTme9uG65cJyWnu639w2PN46TXqyvD/s1Ox72a7ZuGxeg/bDWn/2qHd4/q62ffAHaj2vnBmo/sF/7dcs3UPuBrU/7VcuvYOxHlmcQ9kOLA6D9yNa3/arFAdB+aIf9uqUB0H5ocQZoP7T4Ed5+bGkAtB9cWERhP7jwAGM/tvQAYz+29A3XfnDhG6796OzXbX6AsR/dvIrXfnDhE5L94MIbNPvRzQ+g9sOzX7cpn/34xgmE/ejm3wDtRze/wbYf3TwBtB/dPAG0H944AbQf3rgExn589qu27FfNft3WtITQfnjjNiL2w7Nft/EFqP3w7NdtfIFtPzz7dRs/QNgPz37d7NfNft3GX8jsh+f1181+3ezXzX7d7NfN92fd7NfN70fd7NfN9RPdXH/WzfWf3exXzn7V/P+om///VfP/227zDq72o3P/iW7u/1LO/Ze6DfXsV8D9B6u5/2c199/t5v7X5dx/vpvnP3Tz/JVqnn9UzfPHunn+XznP3+zm+bfVPH+6mue/d0uPL/aDC48v9mNLw5/92NLwZz+0OPzZjy0Nf/ZDO0I9+6HF2Z/90Oalu/bDi8Of/cjCt1v7sYWlZ/ajy7dP+4Hl2YP9wNLSF/uxjfsu2Q/vCEsn7Ie28fKF1m/p6X7byMfqd9aL65YLxz+9IXoyj1wDNQAAAABJRU5ErkJggg==");
	background-size:cover;
}

.profile
{
	width:100%;
	height:55%;
	background-color:white;
	border-radius:15px;
}

.bgclr
{
	width:100%;
	height:60px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}

.pfp2
{
	width:25%;
	height:66px;
	margin-top:8%;
	margin-left:4%;
	border-radius:50%;
}

.name
{
	font-size:23px;
	margin-left:7%;
	font-weight:bold;
}

.sub-title
{
	font-size:14px;
	margin-left:7%;
	margin-top:1%;
}

.sub-title2
{
	font-size:14px;
	margin-left:10%;
	margin-top:4%;
}

.gry
{
	color:grey;
}

.a
{
	color:grey;
	width:80%;
	margin-left:7%;
	margin-top:5%;
	display:inline-block;
	border:1px dashed black;
	padding:1.5%;
	text-decoration:none;
	font-weight:bold;
}

.settings
{
	width:100%;
	height:90px;
	background-color:white;
	border-radius:15px;
}

.nft-hd
{
	font-size:20px;	
	padding:5%;
	font-weight:bold;
}

.sub-hd
{
	margin-left:6%;
	color:#4274D9;
	font-weight:bold;
}

.center
{
	width:49%;
	height:700px;
	background-color:yello;
	border-radius:15px;
	margin-left:23%;
}

.nav
{
	width:96%;
	height:30px;
	border-radius:15px;
	background-color:white;
	display:flex;
	gap:2%;
	padding:2%;
}

.all
{
	background-color:green;	
	padding:1%;
	height:19px;
	border-radius:15px;
	width:7%;
	color:white;
	font-weight:bold;
	font-size:17px;
	text-align:center;
	
}

.job
{
	padding:1%;
	height:19px;
	border-radius:15px;
	width:10%;
	font-weight:bold;
	font-size:17px;
	text-align:center;
	border:1px solid grey;
}

.notifications
{
	width:100%;
	background-color:white;
	height:900px;
	margin-top:2%;
	border-radius:15px;
}

.box1
{
	width:100%;
	height:80px;
	background-color:skyblu;
	border-radius:15px;
	display:flex;
	gap:2%;
	
}

.img-box
{
	padding:1%;
}

.emoji
{
	width:100%;
	height:50px;
	margin-top:10%;
	margin-left:12%;
	
}

.box-info
{
	width:80%;
	margin-top:3%;
}

.hrs
{
	margin-top:3%;
	margin-right:3%;
}

.mre
{
	font-size:20px;
	font-weight:bold;
}

.dsp
{
	color:grey;
	margin-top:2%;
}

.jbtn
{
	width:15%;
	margin-top:2%;
	border:2px solid blue;
	padding:1%;
	color:blue;
	border-radius:20px;
}

.j2
{
	width:10%;
	text-align:center;
}

.input
{
	width:75%;
	margin-top:1.5%;
	padding:1.5%;
	border-radius:10px;
	border:1px solid grey;
}

.sidebar2
{
	width:25%;
	height:450px;
	background-color:yello;
	position:fixed;
	margin-left:71%;
	border-radius:15px;
}

.advt
{
	
	width:100%;
	background-color:gree;

}

.adv-img
{
	width:100%;
	border-radius:15px;
	height:250px;
	margin-top:2%;
	
	
}

.about
{
	margin-top:1%;
	width:100%;
	height:200px;
	
}

.row1
{
	display:flex;
	gap:15%;
	width:90%;
	margin-left:13%;
	height:10px;
	background-color:yello;	
	
}

.rlst
{
	color:grey;
	font-size:13px;
}

.row2
{
	display:flex;
	gap:10%;
	margin-top:3%;
	margin-left:7%;
}

.copyright
{
	display:flex;
	gap:3%;
	margin-top:5%;
	margin-left:12%;
}

.nme
{
	color:blue;
	font-size:17px;
	font-weight:bold;
}

.lnkd
{
	color:blue;
}

.nme2
{
	margin-top:0.5%;
}

.mobile-screen3
{
	display:none;
}

@media screen and (max-width:800px) 
{
	.nav-up
	{
		display:none;
	}
	
	.main
	{
		display:none;
	}
	
	.mobile-screen3
	{
		display:block;
		background-color:#ECEBDE;
		width:100%;
	}
	
	.my-img
	{
		width:10%;
		margin-top:1%;
	}
	
	.me-jpg
	{
		width:100%;
		height:36px;
		border-radius:50px;
		padding:1%;
		margin-left:1%;
	}
	
	.nav-items
	{
		display:flex;
		gap:1%;
		background-color:white;
		height:50px;
		width:100%;
		position:fixed;
		top:0px;
	}
	
	.input2
	{
		width:80%;
		height:25px;
		margin-top:2%;
		padding:1%;
		background-color:#F5F5F0;
		border:none;
	}
	
	.msg
	{
		font-size:25px;
		padding:2%;
	}
	
	.notify
	{
		display:flex;
		gap:2%;
		width:100%;
		height:40px;
		background-color:white;
		margin-top:10%;
	}
	
	.head
	{
		font-size:17px;
		padding:3%;
		font-weight:bold;
	}
	
	.stng
	{
		font-size:20px;
		padding:2%;
		margin-left:59%;
	}
	
	.pop-ups
	{
		background-color:white;
		height:540px;
	}
	
	.rply
	{
		width:20%;
	}
	
	.rply2
	{
		width:30%;
		text-align:center;
	}
	
	.footer
	{
		background-color:white;
		border-top:2px solid black;
		position:fixed;
		width:100%;
		bottom:0px;
	}
	
	.nav-list-mb
	{
		display:flex;
		gap:5%;
		padding:1%;
		background-color:skyblu;
	}
	
	.home1
	{
		margin-left:15%;
		font-size:15px;	
		text-align:center;
	}
	
	.mrg
	{
		margin-left:15%;
	}
	
	.mb-post
	{
		display:flex;
		width:90%;
		margin-left:1%;
		margin-top:5%;
	}
	
	.mb-home
	{
		text-align:center;
		color:black;
		text-decoration:none;
		width:100%;
	}
	
	.a1
	{
		color:grey;
	}
	
	.hm-mb
	{
		font-size:25px;
		margin-left:15%;
	}
}
