*
{
	box-sizing:border:box;
}

body
{
	background-color:#ECEBDE;
	margin:0px;
}

.nav-scrn-up
{
	
	background-color:white;
	display:none;
}


.nav-up
{
	width:98%;
	height:30px;
	background-color:white;
	padding:1%;
	float:left;
	position:fixed;
}

.search-1
{
	display:flex;
}

.logo
{
	width:2.5%;
	height:100%;
	margin-left:5%;
}

.search
{
	margin-top:px;
	margin-left:1%;
	width:18%;
	border-radius:20px;
	border:1px solid black;
	padding:0.5%;
}

.txt2
{
	font-size:15px;
}

.icons
{
	display:flex;
	gap:2%;
	padding:0.3%;	
	margin-left:30%;
	margin-top:-40px;
	background-color:skyblu;
	width:65%;
}

.me
{
	display:flex;
	text-align:center;
	margin-left:40%;
}

.pfp
{
	width:17%;
	height:20px;
	border-radius:20px;
	margin-top:0px;
}

.bsn 
{
	font-size:25px;
	color:grey;
	margin-left:18%;
}

.busn
{
	width:15%;
	background-color:re;
	font-size:15px;
}

.pric
{
	color:#d4b05d;
	font-size:25px;
	margin-left:30%;
}

.prm
{
	width:20%;
	background-color:yello;
	font-size:15px;
}

.bnss
{
	display:flex;
	gap:2%;
}

.prm
{
}

.hm
{
	font-size:20px;
}
.home
{
	text-align:center;
	background-color:re;
	height:50px;
	width:20%;
	text-decoration:none;
	color:black;
}
.Ntw
{
	text-align:center;
	background-color:re;
	height:50px;
	width:20%;
	color:grey;
	margin-left:-9%;
	text-decoration:none;
}

.Ntw:hover
{
	color:black;
}

.home:hover
{
	border-bottom:2px solid black;
}

.home-page
{
	width:94%;
	height:700px;
	background-color:skyblu;
	padding:3%;
	display:flex;
	gap:4%;
	position:fixe;
	
}

.part1
{
	width:20%;
	height:55px;
	background-color:gre;
	margin-top:3%;
	border-radius:20px;
	position:fixed;
}

.profile
{
	width:100%;
	height:250px;
	border-radius:20px;
	background-color:white;
}

.pfp2
{
	width:35%;
	height:90px;
	margin-top:10%;
	margin-left:4%;
	border-radius:50%;
}

.name
{
	font-size:23px;
	margin-left:7%;
	font-weight:bold;
}

.sub-title
{
	font-size:14px;
	margin-left:7%;
	margin-top:1%;
}

.sub-title2
{
	font-size:14px;
	margin-left:10%;
	margin-top:4%;
}

.gry
{
	color:grey;
}

.icon
{
	display:flex;
	margin-left:20px;
	margin-top:2%;
	font-weight:bold;
	font-size:15px;
}

.gld
{
	color:gold;
	font-size:22px;
}

.txt-gld
{
	margin-left:2%;
	margin-top:2%;
}

.cnts
{
	font-weight:bold;
	margin-left:7%;
	margin-top:5%;
}

span
{
	color:blue;
	margin-left:50%;
}

.a
{
	color:grey;
	width:80%;
	margin-left:7%;
	margin-top:5%;
	display:inline-block;
	border:1px dashed black;
	padding:1.5%;
	text-decoration:none;
}

.prnm
{
	width:100%;
	margin-top:3%;
	padding:0.5%;
	height:60px;
	border-radius:20px;
	background-color:white;
}

.saved
{
	width:100%;
	height:147px;
	margin-top:3%;
	background-color:white;
	border-radius:20px;
}

.svd 
{
	font-size:20px;
	display:inline-block;
}

.bk-icn
{
	display:flex;
	gap:10%;
	margin-left:7%;
	font-weight:bold;
	padding:3%;
	font-size:15px;
}


.main
{
	width:80%;
	height:1400px;
	margin-top:4%;
	margin-left:25%;
	border-radius:20px;
	overflow:auto;
	overflow-x:hidden;
	background-color:grey;
}

.main::-webkit-scrollbar
{
	display:none;
}

.suggest
{
	width:100%;
	height:410px;
	background-color:white;
	border-radius:15px;
}

.show
{
	display:flex;
	gap:2%;
	text-align:center;
	margin:auto;
	width:30%;
	font-weight:bold;
}

.shd
{
	color:grey;
	font-size:20px;
}

.arw
{
	color:grey;
	font-size:25px;
}

.head-r
{
	margin-left:1%;
	padding:2%;
	font-size:17px;
	font-weight:bold;
}



.post
{
	width:100%;
	height:110px;
	background-color:white;
	border-radius:15px;
}

.yourself
{
	display:flex;
	width:100%;
}

.post-btn
{
	width:70%;
	height:20px;
	border:1px solid black; 
	padding:2%;
	border-radius:20px;
	text-decoration:none;
	color:black;
	margin-top:3%;
	font-size:17px;
}

.pfp3
{
	width:10%;
	height:50px;
	margin-left:2%;
	object-fit:fit;
	margin-top:2%;
	border-radius:50%;
}

.types
{
	display:flex;
	gap:2%;
	width:100%;
}

.type-1
{
	display:flex;
	font-size:18px;
	margin-top:2%;
	margin-left:4%;
    width:28%;
	
}

.ytb
{
	color:green;
	font-size:28px;
}

.vdi
{
	margin-top:2.9%;
	font-weight:bold;
}

.ble
{
	color:blue;
}

.red
{
	color:red;
}

.acc-1
{
	width:100%;
	height:80px;
	background-color:re;
	margin-top:2%;
	display:flex;
	gap:1%;
}

.shm
{
	width:10%;
	height:49px;
	border-radius:26px;
	margin-left:2%;
}

.dsp2
{
	display:flex;
	color:grey;
	font-size:13px;
}

.up
{
	font-weight:bold;
}

.follow
{
	display:flex;
	border:2px solid navy;
	width:20%;
	padding:1.5%;
	height:17px;
	text-align:center;
	border-radius:20px;
	margin-top:5%;
	margin-right:6%;
	margin-left:3%;
	color:navy;
	font-weight:bold;
}

.rs-hd
{
	font-size:18px;
	font-weight:bold;
	display:flex;
	gap:2%;
	width:160px;
	background-color:yello;
}

.rs-info
{
	width:350px;
	background-color:re;
	font-size:15px;
}

.lnk
{
	width:10%;
	height:15px;
	margin-top:2%;
}

.pyk 
{
	width:100%;
	height:30%;
	background-color:white;
	border-radius:20px;
	margin-top:3%;
}

.profile-2
{
	width:100%;
	height:100%;
	background-color:red;
}

.pfps
{
	width:40%;
	height:100%;
	background-color:white;
	margin-left:1%;
	border-radius:20px;
}

.pfp1
{
	background:linear-gradient(90deg,rgba(11, 0, 77, 1) 0%, rgba(13, 13, 132, 1) 46%, rgba(255, 255, 255, 1) 100%);
	width:100%;
	height:60px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}


.bg-clr
{
	background:linear-gradient(90deg,rgba(11, 0, 77, 1) 0%, rgba(13, 13, 132, 1) 46%, rgba(255, 255, 255, 1) 100%);
	width:100%;
	height:60px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
}

.pfimg-1
{
	width:
}

.part-2
{
	width:50%;
	height:1000px;
	background-color:gre;
	margin-top:5%;
	margin-left:%;
	border-radius:15px;
	
}

.News
{
	width:100%;
	height:350px;
	background-color:white;
	border-radius:15px;
}

.n-hd
{
	font-size:22px;
	padding:2%;
	font-weight:bold;
	margin-left:2%;
}

.n-sh
{
	color:grey;
	font-size:17px;
	margin-left:4%;
}

.h-lines
{
	margin-left:4%;
	margin-top:2.5%;
	font-weight:bold;
}

.Mns
{
	display:flex;
	gap:2%;
	margin-top:15px;
	margin-left:15px;
	font-size:16px;
	color:grey;
	font-weight:bold;
}

.puzzel
{
	width:100%;
	height:300px;
	background-color:white;
	border-radius:15px;
	margin-top:2%;
}

.phd
{
	color:grey;
	font-size:17px;
	font-weight:bold;
	padding:2%;
	margin-left:3%;
}

.wend
{
	display:flex;
	margin-top:2%;
	width:100%;
	background-color:yello;
}

.gme
{
	width:15%;
	height:40px;
}

.pz-name
{
	font-size:17px;
	width:100%;
}

.head5
{
	font-weight:bold;
	display:flex;
	gap:5%;


}

.gdp
{
	color:grey;
	font-size:15px;
}

.raw
{
	font-size:25px;
	display:inline-block;
	margin-top:2%;
	margin-left:0%;
}

.shw-m
{
	padding:3%;
	font-size:17px;
	color:grey;
	font-weight:bold;
}

.advt
{
	
	width:100%;
	background-color:gree;

}

.adv-img
{
	width:95%;
	margin-left:2.5%;
	height:270px;
	margin-top:2%;
	position:sticky;
	bottom:0px;
	top:65px;
}

.about
{
	position:stick;
	width:100%;
	height:200px;
	background-color:re;
}

.row1
{
	display:flex;
	gap:15%;
	width:90%;
	margin-left:13%;
	margin-top:50%;
	height:10px;
	
	background-color:yello;	
	
}

.rlst
{
	color:grey;
	font-size:13px;
}

.row2
{
	display:flex;
	gap:10%;
	margin-top:3%;
	margin-left:7%;
}

.copyright
{
	display:flex;
	gap:3%;
	margin-top:5%;
	margin-left:12%;
}

.nme
{
	color:blue;
	font-size:17px;
	font-weight:bold;
}

.lnkd
{
	color:blue;
}

.nme2
{
	margin-top:0.5%;
}





@media screen and (max-width:770px)
{
	.nav-up
	{
		display:none;
	}
	
	.nav-scrn-up
	{
		display:block;
		height:50px;
		width:100%;
	}
}

